<% if micropost %>
	posted:
	<span class="activitycontent">
		<%= activity.micropost.content %>
	</span>
	<span class="timestamp">
		<%= time_ago_in_words(activity.created_at) %> ago 
	</span>
	<% if activity.user_id == current_user.id %>
    | <%= link_to "delete post", micropost, method: :delete,
                                     data: { confirm: 'Delete post?' },
                                     title: micropost.content %>
  	<% end %>
<% end %>
